.color-orange {
  color: #f72210;
}

.about-font {
  font-size: 0.9rem;
}

.about-font-family {
  font-family: Arial, Helvetica, sans-serif;
}

a > svg {
  max-width: 236px;
  height: 36px;
  fill: rgb(247, 34, 16);
  margin-right: 15px;
  margin-bottom: 12px;
}

.navbar {
  background: #ff1500;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo-1 {
  position: relative;
  right: 50px;
}

.header-logo {
  fill: white;
  max-width: 150px;
  padding-left: 10px;
}

.btn {
  background-color: #ffae00;
  border-radius: 22px;
  padding: 2px;
  right: 5px;
}

.navbar-toggler-icon {
  fill: white;
  padding: 0.25rem 0.5rem;
}

.navbar-toggler {
  background-color: transparent;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.user {
  right: 5px;
}

li {
  font-weight: bold;
}

footer {
    padding-top: 200px;
}